body{
	background-color: black;
	color: white;
}
img{
  display: none;
}
canvas{
	border: 1px solid white;
}
#game, #gameMenu, #chat, #GMStart{
	display: none;
}
#servers{
	display: none;
}
#servers table{
	background-color: green;
}
#servers table tr td{
	border:1px solid white;
}
#chat {
	height: 100px;
	width: 300px;
}
#chat form { background: #000; padding: 3px; position: absolute; top: 0; right: 0; }
#chat form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
#chat form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#chat #messages { list-style-type: none; margin: 0; padding: 0; }
#chat #messages li { padding: 5px 10px; }
#chat #messages li:nth-child(odd) { background: #eee; }
